body{
    margin: 0px;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
    color: black;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 70px;
    width: 450px;
    background-color: #aaa;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
}
#io-box{
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    padding-bottom: 2px;
    background-color: #eee;
    font-size: 40px;
    padding-top: 2px;
}
.remove{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 12px;
    gap: 15px;
}
#clear,#delete{
    box-sizing: border-box;
    width: 50%;
    height: 65px;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
}
#clear{
    background-color: #faa;
}
#delete{
    background-color: #aaf;
}
.main-body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-top: 0px;
    box-sizing: border-box;
}
.main{
    box-sizing: border-box;
    width: 21.9%;
    margin-right: 12px;
    height: 65px;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #eee;
}
#plus-op,#minus-op,#div-op,#multi-op{
    margin-right: 0px;
}
button:hover{
    background-color: #ddd;
}
#clear:hover{
    background-color: #e99;
}
#delete:hover{
    background-color: #99e;
}